[package]
name = "calamine"
version = "0.15.0"
authors = ["Johann Tuffe <tafia973@gmail.com>"]
repository = "https://github.com/tafia/calamine"
documentation = "https://docs.rs/calamine"
description = "An Excel/OpenDocument Spreadsheets reader and deserializer in pure rust"
license = "MIT"
readme = "README.md"
keywords = ["excel", "vba", "office", "ods", "serde"]
categories = ["encoding", "parsing", "text-processing"]

[badges]
travis-ci = { repository = "tafia/calamine" }
appveyor = { repository = "tafia/calamine" }

[dependencies]
byteorder = "1.2.7"
codepage = "0.1.1"
encoding_rs = "0.8.12"
failure = "0.1.3"
failure_derive = "0.1.3"
log = "0.4.6"
serde = "1.0.80"
quick-xml = "0.13.1"
zip = { version = "0.5.0", default-features = false, features = ["deflate"] }

[dev-dependencies]
glob = "0.2.11"
env_logger = "0.5.13"
