[package]
name = "calamine"
version = "0.7.0"
authors = ["Johann Tuffe <tafia973@gmail.com>"]
repository = "https://github.com/tafia/calamine"
documentation = "https://docs.rs/calamine"
description = "Excel reader in pure rust"
license = "MIT"
readme = "README.md"
keywords = ["excel", "xls", "vba", "xml", "office"]
categories = ["encoding", "parsing", "text-processing"]

[badges]
travis-ci = { repository = "tafia/calamine" }
appveyor = { repository = "tafia/calamine" }

[dependencies]
zip = { version = "0.2.2", default-features = false }
quick-xml = "0.7.0"
log = "0.3.7"
encoding_rs = "0.5.0"
byteorder = "1.0.0"
error-chain = "0.10.0"

[dev-dependencies]
glob = "0.2.11"
