[package]
name = "calamine"
version = "0.11.8"
authors = ["Johann Tuffe <tafia973@gmail.com>"]
repository = "https://github.com/tafia/calamine"
documentation = "https://docs.rs/calamine"
description = "An Excel/OpenDocument Spreadsheets parser in pure rust"
license = "MIT"
readme = "README.md"
keywords = ["excel", "xls", "vba", "office", "ods", "serde"]
categories = ["encoding", "parsing", "text-processing"]

[badges]
travis-ci = { repository = "tafia/calamine" }
appveyor = { repository = "tafia/calamine" }

[dependencies]
byteorder = "1.1.0"
encoding_rs = "0.7.0"
error-chain = "0.11.0"
log = "0.3.8"
serde = "1.0.15"
quick-xml = "0.9.1"
zip = { version = "0.2.6", default-features = false }

[dev-dependencies]
glob = "0.2.11"
