[package]
name = "calamine"
version = "0.6.0"
authors = ["Johann Tuffe <tafia973@gmail.com>"]
repository = "https://github.com/tafia/calamine"
documentation = "https://docs.rs/calamine"
description = "Excel reader in pure rust"
keywords = ["excel", "xls", "vba", "xml", "office"]
license = "MIT"
readme = "README.md"

[dependencies]
zip = { version = "0.2.2", default-features = false }
quick-xml = "0.6.2"
log = "0.3.7"
encoding_rs = "0.5.0"
byteorder = "1.0.0"
error-chain = "0.10.0"

[dev-dependencies]
glob = "0.2.11"
