name: Rust

on: [ push, pull_request ]

jobs:
  rust:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        toolchain: 
          - "1.71"  # MSRV
          - stable
          - beta
          - nightly
    steps:
    - uses: actions/checkout@v4
    - name: Install Rust toolchain
      uses: dtolnay/rust-toolchain@master
      with:
          toolchain: ${{ matrix.toolchain }}
    - name: Toolchain version
      run: |
        cargo -vV
        rustc -vV
    - name: Build
      run: |
        cargo build
    - name: Run tests
      run: |
        cargo test --features dates
    - name: Install rustfmt
      uses: dtolnay/rust-toolchain@master
      if: ${{ matrix.toolchain == 'stable' }}
      with:
          toolchain: ${{ matrix.toolchain }}
          components: rustfmt
    - name: Format checks
      if: ${{ matrix.toolchain == 'stable' }}
      run: |
        cargo fmt -- --check
